.table-io {
    border-top: 1px solid #ccc
}

.table-io thead th {
    font-weight: 700;
    text-transform: uppercase;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    padding: 12px 15px;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 15px;
}

.form-io .control-label {
    font-weight: 700;
}

.modal-footer {
    border-top: 1px solid #eee;
    padding: 10px 20px;
}

.color-red {
    color: red;
}

.right10 {
    right: 10px !important;
}

.deleteDD {
    width: 50px;
    position: absolute;
    right: -13px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border-radius: 2px;
    bottom: -10px;
}

.deleteDD .caret {
    right: 8px;
    position: absolute;
    color: black;
    bottom: 6px;
}

.inputDD {
    position: absolute;
    left: -24px;
    top: 4px;
}

.no_list_style {
    list-style: none;
}

.deleteDD:focus {
    border: 1px solid #4d90fe;
}